@import "tailwindcss";

@theme {
  --color-brand-bg: #EDE9E6;
  --font-mono: "Roboto Mono", monospace;
}

@layer base {
  html, body, #root {
    background-color: #EDE9E6;
    color: #000000;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 400;
  }
}
